{% extends "account/authentication/base_authentication.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% trans "ایجاد حساب کاربری جدید" %}
{% endblock title %}

{% block content %}
<div class="main-bar">
    <div class="container d-flex  align-items-center flex-column">
        {% if global_settings.logo %}
            <a class="block" href="{% url 'pages:home' %}" style='max-width:200px'>
                <img src={{global_settings.logo.url}} alt="" class="img-brand block">
            </a>
        {% endif %}
            

          <form method="post" class="large-form" >
            {% csrf_token %}
          <h2 class="header-section text-lighter mb-4">
              <img src="{% static 'img/header-section-shape.png' %}" alt='{% trans "تکمیل ثبت نام" %}'>
              {% trans "تکمیل ثبت نام" %}
          </h2>


          <div class="row g-3">
  
            {% include "inc/messages.html" %}

              <div class="col-sm-6">
                <div class="form-group mb-3">
                    <label class="fs-8 text-dark d-flex align-items-center mb-2" for="first_name">
                        {% trans "نام" %}
                    </label>
                    <div class="w-100 position-relative">
                        <i class="icon-man fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
                        <input class="w-100 rounded-2 bg-white border-0 ps-10" type="text" data-val="true" data-val-maxlength="لطفاً حداکثر 50 کارکتر وارد کنید" data-val-maxlength-max="50" data-val-required="نام کاربری اجباری می باشد" id="first_name" maxlength="50" name="first_name" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="first_name" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <label class="fs-8 text-dark d-flex align-items-center mb-2" for="last_name">
                        {% trans "نام خانوادگی" %}
                    </label>
                    <div class="w-100 position-relative">
                        <i class="icon-man fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
                        <input class="w-100 rounded-2 bg-white border-0 ps-10" type="text" data-val="true" data-val-maxlength="لطفاً حداکثر 50 کارکتر وارد کنید" data-val-maxlength-max="50" data-val-required="نام کاربری اجباری می باشد" id="last_name" maxlength="50" name="last_name" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="last_name" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>


              <div class="col-sm-6">
                  <div class="form-group mb-3">
                      <label class="fs-8 text-dark d-flex align-items-center mb-2" for="password1">
                          {% trans "کلمه عبور" %}
                      </label>
                      <div class="w-100 position-relative">
                          <i class="icon-padlock  fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
                          <input class="w-100 rounded-2 bg-white border-0 ps-10" type="password" data-val="true" data-val-maxlength="لطفاً حداکثر 50 کارکتر وارد کنید" data-val-maxlength-max="50" data-val-required="کلمه عبور اجباری می باشد" id="password1" maxlength="50" name="password1">
                          <span class="text-danger field-validation-valid" data-valmsg-for="password1" data-valmsg-replace="true"></span>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="form-group mb-3">
                      <label class="fs-8 text-dark d-flex align-items-center mb-2" for="password2">
                          {% trans "تکرار کلمه عبور" %}
                      </label>
                      <div class="w-100 position-relative">
                          <i class="icon-padlock  fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
                          <input class="w-100 rounded-2 bg-white border-0 ps-10" type="password" data-val="true" data-val-equalto="تکرار کلمه عبور و کلمه عبور یکسان نیستند" data-val-equalto-other="*.Password" data-val-required="تکرار کلمه عبور اجباری می باشد" id="password2" name="password2">
                          <span class="text-danger field-validation-valid" data-valmsg-for="password2" data-valmsg-replace="true"></span>
                      </div>
                  </div>
              </div>


              <div class="col-sm-6">
                <div class="form-group mb-3">
                    <label class="fs-8 text-dark d-flex align-items-center mb-2" for="email">
                        {% trans "ایمیل" %}
                    </label>
                    <div class="w-100 position-relative">
                        <i class="icon-email  fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
                        <input class="w-100 rounded-2 bg-white border-0 ps-10" type="email" data-val="true" data-val-email="فرمت ایمیل اشتباه است" data-val-maxlength="لطفاً حداکثر 100 کارکتر وارد کنید" data-val-maxlength-max="100" data-val-required="ایمیل اجباری می باشد" id="email" maxlength="100" name="email" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>

              

              <div class="col-sm-6 align-self-end">
                  <button class="btn btn-primary fw-bold w-100 text-white d-flex align-items-center justify-content-center">
                      {% trans "ثبت نام" %}
                      <i class="icon-left-arrow ms-2"></i>
                  </button>

              </div>

        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8DXlEtrZM-hGqQaFOCpkbmL7vW4T1fIYe74y2noZI41v_VWojTE8FgJwnnkwnhIIRX_H6I3RBMxSxrXcqFsYZVFJMb0rX2nxofjo5tv_1-WO7bQ6SxG5tIqax0NNsiIBgiAqwUy6HoxPmgzX8uHV4E8" /></form>

    </form>
          <div></div>
      </div>
  </div>

</div>

  {% endblock content %}