{% extends "account/authentication/base_authentication.html" %}

{% load static %}
{% load i18n %}



{% block title %}
  {% trans "بازیابی رمزعبور" %}
{% endblock title %}

{% block content %}
<div class="main-bar">
  <div class="container d-flex  align-items-center flex-column">
      {% if global_settings.logo %}
          <a class="block" href="{% url 'pages:home' %}" style='max-width:200px'>
              <img src={{global_settings.logo.url}} alt="" class="img-brand block">
          </a>
      {% endif %}
        

<form method="post">
  {% csrf_token %}
    <h2 class="header-section text-lighter mb-4">
        <img src="{% static 'img/header-section-shape.png' %}" alt="">
        {% trans "بازیابی کلمه عبور" %}
    </h2>

    {% include "inc/messages.html" %}
    <div class="form-group mb-3">
      <label class="fs-8 text-dark d-flex align-items-center mb-2" for="mobile_number">
          {% trans "تلفن همراه" %}
      </label>
      <div class="w-100 position-relative">
          <i class="icon-smartphone fs-9 text-light position-absolute top-50 translate-middle-y start-0 ms-3"></i>
          <input class="w-100 rounded-2 bg-white border-0 ps-10" type="text" data-val="true" data-val-maxlength="لطفاً حداکثر 50 کارکتر وارد کنید" data-val-maxlength-max="50" data-val-required="شماره تلفن اجباری می باشد" id="mobile_number" maxlength="50" name="mobile_number" value="">
          <span class="text-danger field-validation-valid" data-valmsg-for="mobile_number" data-valmsg-replace="true"></span>
      </div>
    </div>

    <button class="btn btn-primary fw-bold w-100 text-white d-flex align-items-center justify-content-center">
        {% trans "دریافت کد تایید" %}
        <i class="icon-left-arrow ms-2"></i>
    </button>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8DXlEtrZM-hGqQaFOCpkbmJazEW2ffzogcH5vacdTmeIz7gPdlmkS62GqMJMNJiMmb1L7nl3o4uLlCN62Yg9hO-K60Ijm84_AL_2Tz4y8dNmt8klH3ZCmu8SvJ521rxulCx4NN4dffiNTlG-278NjnQ" /></form>

  </form>
        <div></div>
    </div>
</div>

{% endblock content %}